@using RegistryManagmentV2.Models
@using RegistryManagmentV2.Models.Domain;
@model Tuple<List<Catalog>, List<Resource>>
@{
    ViewBag.Title = "Index";
}

<br/>
@Html.Partial("~/Views/Catalog/AdvanceSearch.cshtml", new AdvanceSearchViewModel())
<br/>

<a href= @Url.Action("Create") class="d-inline btn btn-info" role="button">Створити каталог</a>
<a href=@Url.Action("Create", "Resource", new
         {
             catalogId = Request.Params["catalogId"]
         }, null) class="d-inline btn btn-info" role="button">Створити ресурс</a>
<a href="#" class="d-inline btn btn-danger">Видалити поточний каталог</a>
<br/>
<br/>
@if (Model.Item1.Count > 0)
{
    <div class="list-group">
    @foreach (var catalog in Model.Item1)
     {
         @Html.ActionLink(catalog.Name, "Index", "Catalog", new {  
             catalogId = catalog.Id
         },
             new {@class = "list-group-item" })
     }
    </div>
}
@Html.Partial("~/Views/Resource/Index.cshtml",Model.Item2)

